*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', cursive;
}

html{
    font-size: 15px;
}

/* header start here */

header{
    width: 100%;
    height: 100vh;
    background-image: url(../image/header.jpg);
    background-position: center top;
    background-size: cover;
    padding: 1px;
}

nav{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    color: #3D2514;

}

.logo img{
    width: 60%;
}

ul{
    display: flex;
    list-style: none;
}

ul li{
margin-left: 1rem;
}

ul li a{
    text-decoration: none;
    color: #3D2514;
}

.inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5% 5%;
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left{
    width: 45%;
}

.left p{
    display: inline-block;
    border: 1px dashed #3D2514;
    margin-top: 3rem;
    color: #3D2514;
    padding: 0.6rem;
}

.left h1{
    font-size: 5rem;
    font-weight: 900;
    color: #3D2514;
    font-family: 'Alfa Slab One', cursive;
    text-shadow:2px 2px white;
    letter-spacing: 0.5rem;
}

.left h3{
    font-size: 2rem;
    font-weight: 900;
    color: #3D2514;
    font-family: 'Alfa Slab One', cursive;
    text-shadow:2px 2px white;
    letter-spacing: 0.5rem;
}

.right{
    width: 45%;
    text-align: center;
}

.right img{
    width: 70%;
    margin: 0;
    padding: 0;
}

.image-1{
    width: 48%;
    height: 50vh;
    background-image: url(../image/img01.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.image-1 p{
    color: #ffffff;
    margin: 2rem 0 0 2rem;
    font-weight: 100;
}

.image-1 h1{
    color: #ffffff;
    margin:0 0 0 2rem;
    font-weight: 100;

}

.image-2{
   width: 48%;
  
}

.img-up{
    width:100%;
    background-image: url(../image/img02.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;

}

.img-up p{
    color: #ffffff;
    margin: 2rem 0 0 2rem;
    font-weight: 100;
}

.img-up h1{
    color: #ffffff;
    margin:0 0 0 2rem;
    font-weight: 100;

}

.img-down{
    width: 100%;
    background-image: url(../image/img03.jpg); background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 2rem;
}

.img-down p{
    color: #ffffff;
    margin: 2rem 0 0 2rem;
    font-weight: 100;
}

.img-down h1{
    color: #ffffff;
    margin:0 0 0 2rem;
    font-weight: 100;

}

/*  sec-one start */

.sec-one{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #3d2514;
}

.sec-one h3{
    font-size: 1rem;
    font-weight: 100;
    display: inline-block;
    padding: 0.5rem;
    background-color: #ffc045;
}

.sec-one h1{
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: 400;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;

}

/* order start */

.order{
    width: 30%;
    text-align: center;
    color: #3d2514;
}

.order h1{
    margin: 1rem 0;
}

.order img{
    width: 100%;
}

.my-button{
    width: 150px;
    height: 30px;
    color: #ffffff;
    background-color: #bf2222;
    border: 0;
    text-align: center;
    border-radius: 5px;
    margin-top: 2rem;

}

/* sec-2 start here */

.inner-1{
    max-width: 1200px;
    margin: 0 auto;
    margin:0 5%;
    padding: 1% 1%;
}

.sec-1{
    width: 45%;
}

.sec-1 h3{
    font-size: 1rem;
    color: gray;
    margin-top: 3rem;
    letter-spacing: 00.5rem;
}

.sec-1 h1{
    font-size: 3rem;
    color: #3d2514;
}

.sec-1 p{
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5rem;
    color: gray;
}

.sec-2{
    width: 45%;
}

.sec-2 img{
    width: 100%;
}

.shadow{
    box-shadow: 0.5rem 2px 15px 0rem gray;
}

/* contact us */

.contact{
    text-align: center;
}

.contact .text{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #3d2514;
}

.contact .text h1{
    font-size: 3rem;
}

.contact .text h4{
    font-size: 1.5rem;
    letter-spacing: 0.6rem;
    font-weight: 100;
}

.contact .form{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

.width{
    width: 100%;
}

.width input{
    width: 48%;
    padding: 0.5rem;
    margin-top: 1rem;
}

.find-table{
   width: 48%;
   height: 35px;
   margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
    color: #ffffff;
    background-color: #bf2222;
    border: 0;
    /* text-align: center; */
    border-radius: 5px;

}

/* footer */

.footer{
    background-image: url(../image/footer.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
}

.logo-2{
    width: 45%;
    text-align: left;
}
.logo-2 img{
    width: 60%;
}

.logo-2 p{
    font-size: 1rem;
    line-height: 1.8rem;
    margin: 2rem 0;
}

.location{
    width: 45%;
    text-align: left;
    margin-top: 7rem;
}

.copy{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
}

.fa{
    margin-left: 1.5rem;
    font-size: 1.3rem;
    color: #ffffff;
    margin-top: 1rem;
}

.copy a{
    text-decoration: none;
    color: #ffc045;
    letter-spacing: 0.2rem;
}


/* media query start here */

@media(max-width:768px){
    .left{
        width: 100%;
        text-align: center;
    }
    
    .left p{
       font-size: 0.8rem;
    }
    
    .left h1{
        font-size: 4rem;
    }
    
    .left h3{
        font-size: 1.5rem;
    }
    
    .right{
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }
    
    .right img{
        width: 90%;
    
    }

    .image-1{
        width: 100%;
    }

    .image-2{
        width: 100%;
        margin-top: 1.5rem;
    }

    .order{
        width: 100%;
        margin-top: 2rem;
    }

    .sec-1{
        width: 100%;
        text-align: center;
    }

    .sec-2{
        width: 100%;
        margin: 2rem 0;
    }

    .contact{
        margin-bottom: 2rem;
    }

    .width input{
        width: 100%;
        padding: 0.5rem;
        margin-top: 1rem;
    }

    .find-table{
        width: 100%;
    }

    .logo-2{
        width: 100%;
        text-align: center;
    }

    .location{
        width: 100%;
        margin-top:0;
        text-align: center;
    }

    .copy p{
        text-align: center;
    }

    .social{
        width: 100%;
        text-align: center;
    }
}